/* GENERAL */

* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  position: relative;
}

a {
  cursor: pointer;
}

/* MAIN DIV */

#main {
  position: relative;
  height: 100%;
}

/* HEADER */

header {
  position: relative;
  text-align: center;
  padding: 3vw;
  color: black;
}

.header-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.intro {
  margin: 0 auto;
}

#down-arrow {
  height: 64px;
  display: inline-block;
  width: 64px;
  margin-top: 20px;
  margin-left: 20px;
}

#down-arrow i.fa {
  font-size: 64px;
}

/* Logo */
.logo {
  list-style-type: none;
  padding-top: 0px;
  padding-bottom: 15px;
}

.logo img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 50%;
  text-align: center;
}

.social {
  display: inline-block;
  transform: translateX(-2.1vw);
}

/* My name */
h1 {
  color: rgb(31, 32, 65);
  word-spacing: 0.1rem;
  line-height: 2rem;
  text-align: center;
  font-size: 100px;
}

.subtitle {
  color: black;
  opacity: 0.5;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 8rem;
}

/* BOXES */

#boxes {
  display: inline-block;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 100vw;
  height: 440px;
}

.box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: -1px;
}

.rotated-text-inner {
  display: inline-block;
  position: absolute;
  top: 8rem;
  left: -7rem;
  text-align: start;
  white-space: nowrap;
  width: 17rem;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  color: white;
  opacity: 0.1;
  font-weight: bold;
  transform: rotate(90deg);
}

.box-content {
  text-align: center;
  padding: 0 80px;
}

.box-content h2,
p,
b {
  color: white;
}

.box-content h2 {
  font-size: 1.3em;
  padding: 0px;
}

.box-content p {
  opacity: 0.7;
  font-size: 1.1rem;
}

.box-content b {
  display: inline-block;
  border: 4px solid rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  margin: 1rem 0;
  letter-spacing: 0.03em;
  word-spacing: 0.1em;
  font-weight: bold;
  font-size: 1rem;
}

/* FOOTER */

footer {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.3rem 0;
  font-size: 0.9rem;
  background-color: rgb(31, 32, 65);
  color: white;
  margin: -1px 0px;
}

.footer-inner p {
  color: rgba(255, 255, 255, 0.5);
  padding: 0.5vw;
  text-align: center;
}

/* PANELS */

.panel-inner {
  border-left: 80px solid;
  margin-bottom: -3rem;
  position: relative;
  padding: 40px;
}

.panel {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  position: fixed;
  top: 0px;
  height: 100%;
  z-index: 99999;
  right: 0px;
  left: auto;
  display: block;
  width: 800px;
}

.table {
  margin: 20px 0;
  margin-bottom: 70px;
  border: 1px solid #efefef;
  width: 50%;
  display: table;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

.table-row {
  display: table-row;
}

strong {
  font-weight: bolder;
  font-size: 20px;
  color: #7c8483;
}

.panel-inner h2 {
  color: #1f2041;
  font-size: 40px;
}

hr {
  background-color: #efefef;
  margin: 60px auto;
  border: none;
  height: 1px;
  clear: both;
  width: 100%;
}

/* Left border elements */

.panel-close {
  position: absolute;
  left: -72px;
  top: 5px;
}

.panel-close img {
  opacity: 0.2;
}

.panel-rotated-text-inner {
  display: inline-block;
  position: absolute;
  top: 10.5rem;
  left: -11rem;
  text-align: start;
  white-space: nowrap;
  width: 17rem;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  color: white;
  opacity: 0.2;
  font-weight: bold;
  transform: rotate(90deg);
}

.panel-up {
  position: absolute;
  bottom: 0px;
  left: -4rem;
}

.panel-up i {
  display: block;
  font-size: 50px;
  text-align: center;
  opacity: 0.2;
  margin: 20px 0;
}

/* #ABOUT panel */

.my-photo {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

#about h2 {
  margin-bottom: 50px;
  padding: 20px;
}

.description {
  margin: 40px 0 0 0;
  color: #7c8483;
}

#about .panel p {
  color: black;
  opacity: 0.5;
  font-size: 18px;
}

.table-data {
  border: 1px solid #efefef;
}

.table-data p,
strong {
  padding: 10px;
  color: #7c8483;
}

/* #RESUME panel */

#resume {
  color: black;
}

#resume h2 {
  margin-bottom: 30px;
  padding: 0px;
}

.resume-title strong {
  font-size: 18px;
  color: #7c8483;
  padding: 0px;
}

.resume-box {
  border: 1px solid #efefef;
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 40px;
}

.resume-title {
  background-color: #efefef;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.title-container {
  position: relative;
  display: block;
  z-index: 2;
}

.title-container h6 {
  color: #1f2041;
  font-size: 22px;
}

.resume-title .resume-date {
  color: #ffffff;
  position: absolute;
  bottom: -23%;
  right: -10px;
  font-size: 80px;
  font-family: "open-sansbold";
  z-index: 1;
}

.resume-content {
  position: relative;
  padding: 30px;
}

.resume-content p {
  color: #7c8483;
  text-align: center;
}

/* skillbars */

.skills {
  position: relative;
  display: block;
  margin: 40px 0px;
}

.skillbar {
  background-color: #ffffff;
  border: 1px solid #efefef;
  position: relative;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 47px;
}

.skillbar-title {
  color: #7c8483;
  position: absolute;
  top: 0;
  left: 0;
}

.skillbar-title span {
  padding: 0 15px;
  display: block;
  font-weight: bolder;
}

.skillbar-bar {
  background-color: #efefef;
  height: 45px;
}

.skill-bar-percent {
  color: #7c8483;
  position: absolute;
  right: 16px;
  top: 0;
  height: 45px;
  line-height: 45px;
  opacity: 0.5;
}

/* #CONTACT panel */

#contact .panel-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  text-align: center;
}

#contact p {
  color: #7c8483;
  font-size: 16px;
}

#contact .table {
  width: 100%;
  margin: 40px 0;
}

.table-row .cell-top,
.table-row .cell-bottom {
  padding: 20px;
}

.cell-top i,
.cell-bottom i {
  padding: 0 5px 0 0;
  font-size: 18px;
}

.table-row .cell-top {
  border-bottom: 1px solid #efefef;
}

.table .table-row div p strong {
  font-size: 18px;
  font-weight: bolder;
  padding: 0;
}

.table-row div p:last-child {
  font-size: 20px;
  padding-top: 10px;
}

.table-row div p:last-child a {
  color: #1f2041;
  font-size: 15px;
}

.table-row .cell-bottom p:last-child {
  padding: 15px 0;
}

/* TEMPORARY */
#about,
#resume {
  display: none;
}

/* WEBSITE INTERACTIVITY */

.display-none {
  display: none;
}

.overlay--active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 2, 13, 0.7);
  backdrop-filter: blur(2px);
  z-index: 5;
}

/* add to #main */
.move-left {
  transform: translateX(-50rem);
  transition: 0.6s;
}

.mov-right {
  transform: translateX(50rem);
  transition: 0.6s;
}

/* Add to body tag */
.overflow-hidden {
  overflow: hidden;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .header-icons {
    display: flex;
    flex-wrap: wrap;
    width: 220px;
  }
}
@media only screen and (max-width: 600px) {
  #down-arrow i.fa {
    font-size: 55px;
    top: 20px;
    left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .logo img {
    width: 220px;
  }
}

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1400px) {
  .subtitle {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1000px) {
  .subtitle {
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
  .subtitle {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  #boxes {
    grid-template-columns: repeat(1, 1fr);
    height: 1200px;
  }
}

@media screen and (max-width: 600px) {
  #boxes {
    grid-template-columns: repeat(1, 1fr);
    height: 800px;
  }
}

@media only screen and (max-width: 600px) {
  .rotated-text-inner {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer-inner p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .box-content h2 {
    font-size: 0.7em;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .box-content p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .box-content b {
    font-size: 1rem;
    padding: 0.4rem;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .social a img {
    width: 70px;
  }
}
